body {
  margin: 0;
  background-image: url(images/ostalo/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;  
}

.white-background {
  position: relative;
  background-color: rgb(219, 219, 219, 0.8);
   margin-top: 6vh;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.text {
  position: relative;
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  word-wrap: break-word;
  text-align: justify;
  letter-spacing: 0.5;
  line-height: 160%;
}

.nazaj {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: black;
  border-width: 1px;
  border-radius: 2px;
  font-family: "Montserrat";
  width: 80px;
  height: 30px;
  top: 4vh;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.nazaj:hover {
  border-color: black;
  border-width: 2px;
}
a:link,
a:visited {
  color:rgb(0, 0, 0);
  text-decoration: none;
}

@media(max-width:767px) {

  body {
    height: auto;
  }

  .white-background {
    margin-top: 11.5vh;
    height: auto;
 }

  .text {
    font-size: 16px;
    padding: 5% 5% 12% 5%;
  }

  .nazaj {
    font-size: 16px;
    top: 4vh;
  }
}

@media(min-width:768px){

  body {
    height: 100vh;
  }

  .white-background {
     margin-top: 11.5vh;
     height: auto;
  }
  
  .text {
    font-size: 18px;
    padding: 5% 5% 5% 5%;
  }
  
  .nazaj {
    top: 3vh;
    font-size: 18px;
  }
}

@media(min-width:820px){

  body {
    height: 100vh;
  }

  .white-background {
     margin-top: 17vh;
     height: auto;
  }
  
  .text {
    font-size: 18px;
    padding: 5% 5% 5% 5%;
  }
  
  .nazaj {
    top: 3vh;
    font-size: 18px;
  }
}

@media(min-width:1024px){

  body {
    height: 100vh;
  }

  .white-background {
     margin-top: 23vh;
     height: auto;
  }
  
  .text {
    font-size: 18px;
    padding-top: 5%;
  }
  
  .nazaj {
    top: 2.5vh;
    font-size: 18px;
  }
}

@media(min-width: 1280px) and (max-height: 720px){

  .white-background {
      margin-top: 3.5vh;
      height: 91vh;
  }
  
  .text {
    font-size: 16px;
    padding: 3%;
  }
  
  .nazaj {
    top: 5vh;
    font-size: 16px;
  }  
}

@media(min-width: 1280px) and (min-height: 800px){

  .white-background {
    margin-top: 8vh;
    height: 85vh;
  }
  
  .text {
    font-size: 17px;
    padding-top: 2%;
  }
  
  .nazaj {
    top: 0;
    font-size: 17px;
  }
}

@media(min-width:1368px) {

  .white-background {
     margin-top: 2.5vh;
     height: 95vh;
  }
  
  .text {
    font-size: 18px;
    padding: 3%;
  }
  
  .nazaj {
    top: 4vh;
    font-size: 18px;
  }
}

@media(min-width:1440px) {

  .white-background {
     margin-top: 12vh;
     height: 78vh;
  }
  
  .text {
    font-size: 18px;
    padding: 3%;
  }
  
  .nazaj {
    top: 5vh;
    font-size: 18px;
  }
}

@media(min-width:1536px) {

  .white-background {
     margin-top: 15.5vh;
     height: 70vh;
  }
  
  .text {
    font-size: 18px;
    padding: 3%;
  }
  
  .nazaj {
    top: 3.5vh;
    font-size: 18px;
  }
}

  @media(min-width:1600px) {

  .white-background {
     margin-top: 12vh;
     height: 77vh;
  }
  
  .text {
    font-size: 18px;
    padding: 3%;
  }
  
  .nazaj {
    top: 4vh;
    font-size: 18px;
  }
}

  @media(min-width:1920px) {

  .white-background {
     margin-top: 25vh;
     height: 48vh;
  }
  
  .text {
    font-size: 20px;
    padding-top: 3%;
  }
  
  .nazaj {
    top: 3vh;
    font-size: 20px;
  }
}